/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@300&display=swap');
:root {
    --logo_01: rgb(254, 79, 136);
    --logo_02: #7c2176;
    --logo_03: #fe5088;
    --form: rgba(217, 217, 217, 1);
}
app-root{
    
}